<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wbh.loewe.shoppinglist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.wbh.loewe.shoppinglist.ShoppingListApplication" >
        <activity
            android:label="@string/app_name"
            android:name=".ShoppingListActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI_ExpandActivity"></activity>
        <activity android:name=".GUI_DialogActivity"></activity>
 
        <activity android:name=".Edit_ShoppingListActivity"></activity>
		

        <activity android:name="Edit_ShoppingListActivity"></activity>
        <activity android:name="Article_AdminActivity"></activity>
        <activity android:name="Add_Article_ListActivity"></activity>

    </application>

</manifest>
